.jumbotron {
    background-color: #00a6ed;
    padding: 0.5rem;
    text-align: center;
}

.jumbotron h1 {
    font-family: 'Raleway', Helvetica, Arial, sans-serif;
    font-size: 5rem;
    font-weight: 100;
    letter-spacing: 0.5rem;
}

.card-header {
    padding-top: 5%;
    padding-bottom: 5%;
}

.card-header h2 {
    font-size: 1.5rem;
    font-weight: 100;
}

.card-body h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    letter-spacing: 0.1rem;
    margin: 0;
    text-transform: uppercase;
}

.employee-card {
    margin-bottom: 1rem;
    height: 95%;
}

.card-body {
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.9rem;
}

.intern .card-header {
    background-color: #06d6a0;
}

.engineer .card-header {
    background-color: #a9def9;
}

.manager .card-header {
    background-color: #560bad;
    color: #fff;
}

.card-header h2 {
    font-weight: 200;
    margin: 0;
}
