<div class="col-md-4">
    <div class="card employee-card engineer">
        <div class="card-header">
            <h2 class="card-title">{{ name }}<span class="float-right"><i class="fas fa-glasses"></i></span>
        </div>
        <div class="card-body">
            <ul class="list-group">
                <li class="list-group-item">
                    <h3>{{ role }}</h3>
                </li>
                <li class="list-group-item"><b>ID</b> {{ id }}</li>
                <li class="list-group-item"><i class="far fa-envelope mr-2"></i><a
                        href="mailto:{{ email }}">{{ email }}</a>
                </li>
                <li class="list-group-item"><i class="fab fa-github mr-2"></i><a href="https://github.com/{{ github }}"
                        target="_blank" rel="noopener noreferrer">{{ github }}</a></li>
            </ul>
        </div>
    </div>
</div>
